# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# Virtual Environment
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 