# Strava API credentials
STRAVA_CLIENT_ID = "your_strava_client_id"
STRAVA_CLIENT_SECRET = "your_strava_client_secret"

# Redirect URI - Replace with your deployed app URL when deploying
REDIRECT_URI = "https://your-app-url.streamlit.app"

# MongoDB connection string
MONGO_URI = "your_mongodb_connection_string" 